@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
    --light: white; --dark: #37383F; --middle: #F1F1F1; --primary_font: "Roboto", sans-serif;
    margin: 0;
    background-color: var(--light);
    font-family: var(--primary_font);
    color: var(--light);

    
}

.color1 {color: #2e3042;}
.color2 {color: #4c4157;}
.color3 {color: #785a73;}
.color4 {color: #b57f95;}
.color5 {color: #ffb1bc;}

h1, p{
    color: var(--dark);
    line-height: 1.25em;
    /* word-spacing: 0.1em; */
    max-height: min-content;
}

h1{
    font-weight: 400;
    font-size: 3em;
    margin: 0;
}
h1::before{
    content: "- ";
}
h1::after{
    content: " -";
}
p, a{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    width: 1000px;
    /* background-color: var(--middle); */
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
    
    text-align: center;
}
.container{
    margin-top: 25px;
    margin-bottom: 25px;    
    /* border: 1px solid var(--middle); */
}

footer {
    justify-self: flex-start;
}

footer > .social-links{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px){
    main{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        transform: none;
    }
}
@media only screen and (max-width: 1000px){
    h1{
        font-size: 1.8em;
    }
    p, a{
        font-size: 1.2em;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
    }
    h1, p{
        color: white;
    }
    svg{
        fill: white;
    }
}