@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
:root {
	--light: white;
	--dark: #37383f;
	--middle: #f1f1f1;
	--primary_font: "Roboto", sans-serif;
}
/* Random color pallette */
.color1 {
	color: #2e3042;
}
.color2 {
	color: #4c4157;
}
.color3 {
	color: #785a73;
}
.color4 {
	color: #b57f95;
}
.color5 {
	color: #ffb1bc;
}

.color6 {
	color: #292f36;
}

body {
	margin: 0;

	background-color: var(--light);
	color: var(--dark);

	font-family: var(--primary_font);
	font-weight: 400;
}
hr {
	width: 90%;
	height: 5px;
	border: none;
	border-radius: 1px;
	background: rgb(237, 108, 78);
}
h1 {
	font-weight: inherit;
	font-size: 3em;
	margin: 0;
}
h2 {
	font-weight: inherit;
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.container > h2, .container > h1 {
	text-align: center;
}
p {
	font-weight: inherit;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
a {
	text-decoration: none;
}

nav {
	z-index: 1;
	width: 100vw;
	display: flex;
	position: fixed;
	justify-content: space-between;
}
nav a {
	margin: 10px;
}
nav img {
	height: 50px;
}
nav .lang-flag {
	border-radius: 5px;
	filter: grayscale(50%);
}

main {
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%);

	display: flex;
	flex-direction: column;

	width: 550px;
}
.container {
	margin-top: 25px;
	margin-bottom: 25px;
}
.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 6em;
	margin-right: 25px;
}

footer {
	justify-self: flex-end;
}

footer div.social-links {
	display: flex;
	justify-content: center;
	gap: 10px;
}

@media only screen and (max-width: 550px) {
	main {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		transform: none;
		font-size: 60%;
	}
	nav {
		background-color: inherit;
		box-shadow: inset 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	}
	.logo {
		height: 7em;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #293241;
		color: white;
	}
	a {
		color: rgb(208, 173, 240);
	}
	svg {
		fill: white;
	}
}
