:root {	
	--light: white;
	--dark: #293241;
	--middle: #f1f1f1;
	--main: #3d5a80;
	--accent: #ed6c4e;
}
body {
	margin: 0;

	background-color: var(--light);
	color: var(--dark);

	font-family: sans-serif;
}
hr {
	width: 90%;
	height: 5px;
	border: none;
	border-radius: 1px;
	background: var(--accent);
}
h1 {
	font-weight: inherit;
	font-size: 3em;
	margin: 0;	
}
h2 {
	font-weight: bold;
	font-size: 2.5em;
	margin: 0 0 0 0;
}
section > h1 {
	text-align: center;
}
p {
	font-weight: inherit;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
}

main {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%);

	display: flex;
	flex-direction: column;

	width: 650px;
}
ul {
	margin: 0;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 6em;
	margin-right: 25px;
}

footer {
	text-align: center;
}

footer div.social-links {
	margin: 15px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

@media only screen and (max-width: 650px) {
	main {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		transform: none;
		font-size: 60%;
	}
	.logo {
		height: 7em;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark);
		color: var(--middle);
	}
	a {
		color: rgb(208, 173, 240);
	}
	svg {
		fill: var(--middle);
	}
}
