@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root{
    --light: white; --dark: #37383F; --middle: #F1F1F1; --primary_font: "Roboto", sans-serif;
}
/* Random color pallette */
.color1 {color: #2e3042;}
.color2 {color: #4c4157;}
.color3 {color: #785a73;}
.color4 {color: #b57f95;}
.color5 {color: #ffb1bc;}

.color6 {color: #292F36;}

body {
    margin: 0;
    height: 200vh;
    background-color: var(--light);

    font-family: var(--primary_font);
    color: var(--dark);
    font-weight: 400;
}
h1{
    font-weight: inherit;
    font-size: 3em;
    margin: 0;
}
h1::before{
    content: "- ";
}
h1::after{
    content: " -";
}
h2{
    font-weight: inherit;
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    font-weight: inherit;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}

nav{
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: space-between;

    background-color: #F1F1F1;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
nav a{
    margin: 25px;
}
nav img{
    height: 50px;
}
nav .lang-flag {
    border-radius: 5px;
    filter: grayscale(50%);
}

main{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
    
    text-align: center;
}
.container{
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    justify-self: flex-end;
}

footer > .social-links{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 550px){
    main{
        width: 100vw;
        margin-left: 0%;
        margin-right: 0%;
        transform: none;
    }

    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.75em;
    }
    p{
        font-size: 1.5em;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
    a{
        color: rgb(208, 173, 240);
    }
    svg{
        fill: white;
    }
}