@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
    --light: white; --dark: #37383F; --middle: #F1F1F1; --primary_font: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    font-family: var(--primary_font);
}
h1, p{
    color: var(--dark);
    /* word-wrap: break-word; */
    line-height: 1.25em;
    /* word-spacing: 0.1em; */
    max-height: min-content;
}

h1{
    font-weight: 400;
    font-size: 3em;
    padding: 25px 25px;
    margin: 0;
}
h1::before{
    content: "- ";
}
h1::after{
    content: " -";
}
b:hover{
    content: "Simon";
}
p{
    font-size: 2em;
}

div{
    padding: 0;
    margin: 0;
}

aside{
    width: 25%;
    height: 100%;
    /* color:var(--middle) */
}
main{
    width: 1000px;
    height: 100%;
    /* background-color: var(--middle); */
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 1000px){
    aside{
        display: none;
    }
    main{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        transform: none;
    }
}

.container{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    /* border: 1px solid var(--middle); */
    text-align: center;
}

.bordered{
    border: 0 solid white;
}

.hide{
    opacity: 0;
}
